<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="home.component.css">
</head>
<body>
    <div class="home-container">
        <h2>Lista de Personajes</h2>
        <ul *ngIf="people.length > 0; else loading">
            <li *ngFor="let person of people">
                {{ person.name }}
            </li>
        </ul>
        <ng-template #loading>
            <p>Cargando personajes...</p>
        </ng-template> 
        <button (click)="logout()">Cerrar sesión</button>
    </div> 
</body>
</html>
